geode-core/src/main/resources/META-INF/schemas/geode.apache.org/schema/query-service/query-service-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<xsd:schema
        targetNamespace="http://geode.apache.org/schema/query-service"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        version="1.0">

    <xsd:annotation>
        <xsd:documentation><![CDATA[
XML schema for configuring the query-service in Geode.

  <cache
    xmlns="http://geode.apache.org/schema/cache"
    xmlns:query="http://geode.apache.org/schema/query-service"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://geode.apache.org/schema/cache
        http://geode.apache.org/schema/cache/cache-1.0.xsd
        http://geode.apache.org/schema/query-service
        http://geode.apache.org/schema/query-service/query-service-1.0.xsd"
    version="1.0">

    ]]></xsd:documentation>
    </xsd:annotation>
    <xsd:element name="query-service">
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="method-authorizer" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="parameter" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:attribute type="xsd:string" name="parameter-value" use="required"/>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute type="xsd:string" name="class-name" use="required"/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
